 a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-size: 24px;
  transition: .3s ease-in-out;
}
.bt1  {
	    display: inline;
	    margin-left: 6%;
	    border-radius: 76px;
	    padding: 1% 1%;
	    color: #e84393;
	    background-color: white;
	    background-image: radial-gradient(#C0F400  30%, transparent 0), radial-gradient(#C0F400 30%, transparent 0);
	    background-size: 0.5em 0.5em;
	    box-shadow: 0 0 9px rgba(0,0,0,0.5);
	    cursor: pointer;
}
.bt1:hover{transition:0.5s;
background-size: 1em 1em;}

.bt2{border-radius:76px; 

width:200px;
  color:#000000  ;
  background-color: white;
  background-image: 
  -webkit-repeating-linear-gradient(45deg, #FFDDBB, #FFDDBB 1px, rgba(255,0,0,0) 2px, rgba(255,0,0,0) 10px),
  -webkit-repeating-linear-gradient(90deg,#F0FC00, #F0FC00 1px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 10px);

  background-image: 
  -o-repeating-linear-gradient( 45deg, #FFDDBB, #FFDDBB 1px, rgba(255,0,0,0) 2px, rgba(255,0,0,0) 10px)
  -o-repeating-linear-gradient(45deg,  #F0FC00, #F0FC00 1px, rgba(255,0,0,0) 2px, rgba(255,0,0,0) 10px );
  background-image: 
  repeating-linear-gradient( 90deg, #F0FC00, #F0FC00 1px, transparent 2px, transparent 10px),
  repeating-linear-gradient(135deg, #FFDDBB, #FFDDBB 1px, transparent 2px, transparent 10px);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}
.bt2:hover {
  transition:0.5s;
  background-image: 
  -webkit-repeating-linear-gradient( 45deg, #FFDDBB, #FFDDBB 1px, rgba(255,0,0,0) 2px, rgba(255,0,0,0) 10px);
  background-image: 
  -o-repeating-linear-gradient(125deg, #FFDDBB, #FFDDBB 1px, rgba(255,0,0,0) 2px, rgba(255,0,0,0) 10px);
  background-image: 
  repeating-linear-gradient(125deg, #F0FC00, #F0FC00 1px, transparent 2px, transparent 10px);
}

.bt3{ border-radius: 75px ;
width: 200px;
  color:red  ;
  background: -webkit-linear-gradient(top, #A4D3E0 , #A4D3E0 50%, #CBE3EB 50%);
  background: -o-linear-gradient(top, #A4D3E0 , #A4D3E0 50%, #CBE3EB 50%);
  background: linear-gradient(to top, #C9F76F , #C9F76F 50%, #CBE3EB 50%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}
.bt3:hover {
  transition:0.5s;
  background: -webkit-linear-gradient(bottom, #FF4040 , #FF4040 50%, #CBE3EB 50%);
  background: -o-linear-gradient(bottom, #FF4040 , #FF4040 50%, #CBE3EB 50%);
  background: linear-gradient(to bottom,  #FF4040 , #FF4040 50%, #CBE3EB  50%);
}
.bt4{border-radius:75px;
width:200px;
  color:red;
  background: -webkit-linear-gradient(70deg,#A5B400,#A5B400 50%, #C3D600 50%);
  background: -o-linear-gradient(20deg,#C3D600, #C3D600 50%, #A5B400 50%);
  background: linear-gradient(20deg, #C3D600, #C3D600 50%, #A5B400 50%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}
.bt4:hover {
  transition:0.5s;
  background: -webkit-linear-gradient(-110deg,#A5B400,#A5B400 50%, #C3D600 50%);
  background: -o-linear-gradient(-160deg, #C3D600, #C3D600 50%, #A5B400 50%);
  background: linear-gradient(-160deg, #C3D600, #C3D600 50%, #A5B400 50%);
}

.bt5{border-radius:75px;
width:200px;
  color: red ;
  box-shadow: inset 0 -5px 0 #40382D;
}
.bt5:hover {
  transition:0.5s;
  box-shadow: inset 0 -60px 0 #40382D, 0px 0px 9px rgba(0,0,0,0.3);
  color:red 
}
.bt6{border-radius:75px;
  width:200px;
  color:gold;
  background-color:gold;
  border-bottom:gold;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.bt6:hover {
  transition:0.5s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.bt7{color: #45A0A4;
text-align:center;
  background: -webkit-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: -o-linear-gradient(right, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B,#E3612C 0, #E3612C 33.3%) bottom no-repeat;
  background: linear-gradient(to right,  #58554B 66.6%, #58554B#E3612C 0, #E3612C 33.3%,#FCCE30 33.3%, #FCCE30 66.6%,) bottom no-repeat;
  background-size: 10% 5px;
}
.bt7 a {
 text-decoration: none; 
border-bottom: 2px dashed DarkOrchid; 
padding-bottom: 3px;
 }
.bt7 a:hover{background-size: 100% 5px;
  transition:0.5s;}

.bt8{border-radius:75px;
  width:200px;
  background:#f5f5dc;
     color:rgb(255, 136, 0);
      padding:5px 10px;
         position: relative;
        box-shadow: inset 0 -2px 0 #B05151; }
.bt8 a:before, .bt8 a:after {
  content: normal;
  display:block;
    position: absolute; 
     top: calc(50% - 5px);
   width: 50%;
     height: 50%;
      border-radius: 50%;  
   background:rgb(199, 170, 6);
      box-shadow: inset 0 -2px 0 #B05151;   
      opacity: 0;
  transition: .5s ease-in-out;
}

.bt9{Color:red;
  border-radius: 76px;
width:200px;
   text-shadow:0 1px 0 rgba(0,0,0,0.3);
      background: url(borger-grey.png) repeat-x; 
        border-bottom: 1px solid  #bfc1ad;
         border-left: 1px solid  #bfc1ad;
           border-right:  1px solid  #bfc1ad;}
.bt9 a:hover {
background-position: 150px 0;
}


.bt10{  border-radius: 76px;
width:200px;
background:rgb(223, 222, 222)}
.bt10:hover {
  transition:0.5s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.bt11{  border-radius: 76px;
width:200px;}
.bt11:hover {
  transition:0.5s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.bt11 a{color:green}
